@charset "UTF-8";
.navigation {
  height: 100px;
  background: white;
  /* Mobile navigation */
}

.navigation .brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 100px;
  text-transform: uppercase;
  font-size: 1.4em;
}

.navigation .brand img[alt="logo"] {
  width: 80px;
  margin-top: 10px;
}

.navigation .brand a,
.navigation .brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.navigation .nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.navigation nav {
  float: right;
}

.navigation nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation nav ul li {
  float: left;
  position: relative;
}

.navigation nav ul li a,
.navigation nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 100px;
  background: #004e36;
  color: #ffffff;
  text-decoration: none;
}

.navigation nav ul li a:hover,
.navigation nav ul li a:visited:hover {
  background: #2581dc;
  color: #ffffff;
}

.navigation nav ul li a:not(:only-child):after,
.navigation nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}

.navigation nav ul li ul li {
  min-width: 190px;
}

.navigation nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.navigation .nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.navigation .nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #004e36;
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 798px) {
  .navigation .nav-mobile {
    display: block;
  }
  .navigation nav {
    width: 100%;
    padding: 100px 0 15px;
  }
  .navigation nav ul {
    display: none;
  }
  .navigation nav ul li {
    float: none;
  }
  .navigation nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  .navigation nav ul li ul li a {
    padding-left: 30px;
  }
  .navigation .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 799px) {
  .navigation .nav-list {
    display: block !important;
  }
}

.navigation #nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

.navigation #nav-toggle span,
.navigation #nav-toggle span:before,
.navigation #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.navigation #nav-toggle span:before {
  top: -10px;
}

.navigation #nav-toggle span:after {
  bottom: -10px;
}

.navigation #nav-toggle.active span {
  background-color: transparent;
}

.navigation #nav-toggle.active span:before, .navigation #nav-toggle.active span:after {
  top: 0;
}

.navigation #nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation #nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pdp .pd-wrap {
  padding: 40px 0;
  font-family: "Poppins", sans-serif;
}

.pdp .heading-section {
  text-align: center;
  margin-bottom: 20px;
}

.pdp .sub-heading {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  display: block;
  font-weight: 600;
  color: #2e9ca1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.pdp .heading-section h2 {
  font-size: 32px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

.pdp .user-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  min-width: 80px;
  background-size: 100%;
}

.pdp .carousel-testimonial .item {
  padding: 30px 10px;
}

.pdp .quote {
  position: absolute;
  top: -23px;
  color: #2e9da1;
  font-size: 27px;
}

.pdp .name {
  margin-bottom: 0;
  line-height: 14px;
  font-size: 17px;
  font-weight: 500;
}

.pdp .position {
  color: #adadad;
  font-size: 14px;
}

.pdp .owl-nav button {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  outline: none;
  height: 25px;
}

.pdp .owl-nav button svg {
  width: 25px;
  height: 25px;
}

.pdp .owl-nav button.owl-prev {
  left: 25px;
}

.pdp .owl-nav button.owl-next {
  right: 25px;
}

.pdp .owl-nav button span {
  font-size: 45px;
}

.pdp .product-thumb .item img {
  height: 100px;
}

.pdp .product-name {
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 4px;
}

.pdp .product-price-discount {
  font-size: 22px;
  font-weight: 400;
  padding: 10px 0;
  clear: both;
}

.pdp .product-price-discount span.line-through {
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 14px;
  vertical-align: middle;
  color: #a5a5a5;
}

.pdp .display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pdp .align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pdp .product-info {
  width: 100%;
}

.pdp .reviews-counter {
  font-size: 13px;
}

.pdp .reviews-counter span {
  vertical-align: -2px;
}

.pdp .rate {
  float: left;
  padding: 0 10px 0 0;
}

.pdp .rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.pdp .rate:not(:checked) > label {
  float: right;
  width: 15px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 21px;
  color: #ccc;
  margin-bottom: 0;
  line-height: 21px;
}

.pdp .rate:not(:checked) > label:before {
  content: "\2605";
}

.pdp .rate > input:checked ~ label {
  color: #ffc700;
}

.pdp .rate:not(:checked) > label:hover,
.pdp .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.pdp .rate > input:checked + label:hover,
.pdp .rate > input:checked + label:hover ~ label,
.pdp .rate > input:checked ~ label:hover,
.pdp .rate > input:checked ~ label:hover ~ label,
.pdp .rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.pdp .product-dtl p {
  font-size: 14px;
  line-height: 24px;
  color: #7a7a7a;
}

.pdp .product-dtl .form-control {
  font-size: 15px;
}

.pdp .product-dtl label {
  line-height: 16px;
  font-size: 15px;
}

.pdp .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pdp .product-count {
  margin-top: 15px;
}

.pdp .product-count .qtyminus,
.pdp .product-count .qtyplus {
  width: 34px;
  height: 34px;
  background: #212529;
  text-align: center;
  font-size: 19px;
  line-height: 36px;
  color: #fff;
  cursor: pointer;
}

.pdp .product-count .qtyminus {
  border-radius: 3px 0 0 3px;
}

.pdp .product-count .qtyplus {
  border-radius: 0 3px 3px 0;
}

.pdp .product-count .qty {
  width: 60px;
  text-align: center;
}

.pdp .round-black-btn {
  border-radius: 4px;
  background: #212529;
  color: #fff;
  padding: 7px 45px;
  display: inline-block;
  margin-top: 20px;
  border: solid 2px #212529;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.pdp .round-black-btn:hover,
.pdp .round-black-btn:focus {
  background: transparent;
  color: #212529;
  text-decoration: none;
}

.pdp .product-info-tabs {
  margin-top: 25px;
}

.pdp .product-info-tabs .nav-tabs {
  border-bottom: 2px solid #d8d8d8;
}

.pdp .product-info-tabs .nav-tabs .nav-item {
  margin-bottom: 0;
}

.pdp .product-info-tabs .nav-tabs .nav-link {
  border: none;
  border-bottom: 2px solid transparent;
  color: #323232;
}

.pdp .product-info-tabs .nav-tabs .nav-item .nav-link:hover {
  border: none;
}

.pdp .product-info-tabs .nav-tabs .nav-item.show .nav-link,
.pdp .product-info-tabs .nav-tabs .nav-link.active,
.pdp .product-info-tabs .nav-tabs .nav-link.active:hover {
  border: none;
  border-bottom: 2px solid #d8d8d8;
  font-weight: bold;
}

.pdp .product-info-tabs .tab-content .tab-pane {
  padding: 30px 20px;
  font-size: 15px;
  line-height: 24px;
  color: #7a7a7a;
}

.pdp .review-form .form-group {
  clear: both;
}

.pdp .mb-20 {
  margin-bottom: 20px;
}

.pdp .review-form .rate {
  float: none;
  display: inline-block;
}

.pdp .review-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 6px;
  text-transform: uppercase;
  color: #000;
}

.pdp .review-form .form-control {
  font-size: 14px;
}

.pdp .review-form input.form-control {
  height: 40px;
}

.pdp .review-form textarea.form-control {
  resize: none;
}

.pdp .review-form .round-black-btn {
  text-transform: uppercase;
  cursor: pointer;
}

.pdp .image {
  width: 250px;
  float: left;
  margin: 20px;
}

.index-body {
  position: relative;
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Century Gothic", 'Lato', sans-serif;
  overflow-x: hidden;
}

.home-banner {
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-image: url(https://www.mcdonalds.com/content/dam/prelaunch/ca/web/nutrition/categories/desktop/en/Full_Menu_1280x573.jpg);
}

.cover-banner {
  position: absolute;
  z-index: 2;
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: rgba(50, 50, 50, 0.5);
}

.cover-banner img {
  width: 270px;
}

.cover-banner .jumbo {
  background-color: transparent;
  text-align: center;
}

.festival h2 {
  color: #004e36;
  font-weight: bold;
  font-size: 40px;
  margin-left: 130px;
}

.festival p {
  color: #004e36;
  font-weight: bold;
  font-size: 20px;
  margin-left: 130px;
}

.festival .container {
  margin-top: 100px;
}

.festival .carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}

.festival .carousel-showmanymoveone .carousel-control.left {
  margin-left: 15px;
}

.festival .carousel-showmanymoveone .carousel-control.right {
  margin-right: 15px;
}

.festival .carousel-showmanymoveone .cloneditem-1,
.festival .carousel-showmanymoveone .cloneditem-2,
.festival .carousel-showmanymoveone .cloneditem-3 {
  display: none;
}

@media all and (min-width: 768px) {
  .festival .carousel-showmanymoveone .carousel-inner > .active.left,
  .festival .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .festival .carousel-showmanymoveone .carousel-inner > .active.right,
  .festival .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .festival .carousel-showmanymoveone .carousel-inner > .left,
  .festival .carousel-showmanymoveone .carousel-inner > .prev.right,
  .festival .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .festival .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}

@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .festival .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .festival .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .festival .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .festival .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .festival .carousel-showmanymoveone .carousel-inner > .item.left,
  .festival .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .festival .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

@media all and (min-width: 992px) {
  .festival .carousel-showmanymoveone .carousel-inner > .active.left,
  .festival .carousel-showmanymoveone .carousel-inner > .prev {
    left: -33.3%;
  }
  .festival .carousel-showmanymoveone .carousel-inner > .active.right,
  .festival .carousel-showmanymoveone .carousel-inner > .next {
    left: 33.3%;
  }
  .festival .carousel-showmanymoveone .carousel-inner > .left,
  .festival .carousel-showmanymoveone .carousel-inner > .prev.right,
  .festival .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .festival .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .festival .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
    display: block;
  }
}

@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .festival .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .festival .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(33.3%, 0, 0);
    transform: translate3d(33.3%, 0, 0);
    left: 0;
  }
  .festival .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .festival .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-33.3%, 0, 0);
    transform: translate3d(-33.3%, 0, 0);
    left: 0;
  }
  .festival .carousel-showmanymoveone .carousel-inner > .item.left,
  .festival .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .festival .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

.festival .carousel-control:hover, .festival .carousel-control:focus {
  opacity: 1;
}

.festival .carousel-control, .festival .carousel-control {
  opacity: 1;
}

@media all and (min-width: 1600px) {
  .festival .carousel-main-container {
    width: 66.66666667%;
    margin-left: 16.66666667%;
  }
}

.festival .glyphicon {
  color: #46166b;
  top: 60px;
}

@media all and (min-width: 768px) {
  .festival .glyphicon {
    top: 62px;
  }
}

@media all and (min-width: 992px) {
  .festival .glyphicon {
    top: 65px;
  }
}

@media all and (max-width: 767px) {
  .festival .glyphicon-menu-right {
    margin-left: 20px;
  }
  .festival .glyphicon-menu-left {
    right: 28px;
  }
}

.two-cards {
  margin-top: 100px;
}

.two-cards .card {
  text-align: center;
  background: #e7cbcb;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  position: relative;
  width: 300px;
  cursor: pointer;
}

.two-cards .card img {
  margin-top: 20px;
  width: 300px;
}

.two-cards .card p {
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.two-cards .card-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.two-cards .card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.two-cards .card-2 {
  margin-left: 50px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.footer {
  margin-top: 50px;
  background-color: #9fe6d0;
  width: 100%;
}

.stores {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stores .newsCard {
  position: relative;
  margin-top: 30px;
  width: 400px;
  height: 250px;
  background-color: #fff;
  color: #fff;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.stores .newsCaption {
  position: absolute;
  top: auto;
  bottom: 0;
  opacity: .6;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: #000;
  padding: 15px;
  -webkit-transform: translateY(80%);
  transform: translateY(80%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
  transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.4s;
}

.stores .newsCaption-title {
  margin-top: 0px;
}

.stores .newsCaption-content {
  margin: 0;
}

.stores .newsCaption-link {
  color: #fff;
  text-decoration: underline;
  opacity: .8;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
  transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.stores .newsCaption-link:hover {
  opacity: 0.65;
}

.stores .news-Slide-up:hover .newsCaption {
  opacity: .6;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
  transition: opacity 0.1s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;
}

h1 {
  text-align: center;
  color: #004e36;
  font-weight: bold;
  font-size: 40px;
}

.filter {
  margin-top: 100px;
}

.filter .container-fluid {
  max-width: 960px;
}

.filter [data-toggle="collapse"] {
  cursor: pointer;
}

.filter .align-center {
  text-align: center;
}

.filter .align-right {
  text-align: right;
}

.filter .valign-middle {
  vertical-align: middle !important;
}

@media screen and (max-width: 767px) {
  .filter .table-responsive thead,
  .filter .table-responsive tbody,
  .filter .table-responsive tfoot,
  .filter .table-responsive tr,
  .filter .table-responsive th,
  .filter .table-responsive td {
    display: block;
  }
  .filter .table-responsive thead {
    display: none;
  }
  .filter .table-responsive .align-center,
  .filter .table-responsive .align-right {
    text-align: inherit;
  }
  .filter .table-responsive tr {
    border-top: 1px solid #ddd;
  }
  .filter .table-responsive tr:first-child {
    border: 0;
  }
  .filter .table-responsive > tbody > tr > td {
    padding-left: 50%;
    border-top-color: rgba(221, 221, 221, 0.5);
  }
  .filter .table-responsive > tbody > tr > td:first-child {
    border: 0;
  }
  .filter .table-responsive [data-label] {
    position: relative;
  }
  .filter .table-responsive [data-label]:before {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    content: attr(data-label);
    font-weight: bold;
  }
  .filter .navbar-fixed-top.visible-xs + .row {
    padding-top: 60px;
  }
  .filter .btn .visible-xs {
    display: inline-block !important;
  }
  .filter .sliding-sidebar {
    position: absolute;
    z-index: 1;
    background: #fff;
    min-height: 100%;
    border-right: 1px solid #ccc;
  }
  .filter .sliding-sidebar.collapse, .filter .sliding-sidebar.collapsing {
    display: block !important;
    -webkit-transform: translate3D(-100%, 0, 0);
            transform: translate3D(-100%, 0, 0);
    -webkit-transition: all 200ms;
    transition: all 200ms;
  }
  .filter .sliding-sidebar.collapse.in {
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
    -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05), 2px 0 0 rgba(0, 0, 0, 0.05), 3px 0 0 rgba(0, 0, 0, 0.05);
            box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05), 2px 0 0 rgba(0, 0, 0, 0.05), 3px 0 0 rgba(0, 0, 0, 0.05);
  }
}

.filter .parent-collapsed {
  display: none;
}

.filter .collapsed .parent-expanded {
  display: none;
}

.filter .collapsed .parent-collapsed {
  display: inline-block;
}

.filter .flex-card-product {
  margin-top: 40px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter .flex-card-product .card {
  text-align: center;
  background-color: #88fad8;
  border-radius: 2px;
  display: inline-block;
  height: 220px;
  position: relative;
  width: 220px;
  cursor: pointer;
}

.filter .flex-card-product .card p {
  color: black;
  font-size: 10px;
  margin-top: 20px;
}

.filter .flex-card-product .card-1 {
  margin-top: 30px;
  margin-left: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.filter .flex-card-product .card-1 .float {
  margin-top: 20px;
}

.filter .flex-card-product .card-1 .float .button1 {
  float: left;
  background-color: #ff9494;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.filter .flex-card-product .card-1 .float .button2 {
  float: right;
  background-color: #ff9494;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.filter .flex-card-product .card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/*# sourceMappingURL=styles.css.map */