// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 100px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581dc;

// Outer navigation wrapper
.navigation {
  height: $nav-height;
  background: white;
  // Logo and branding
  .brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: $nav-height;
    text-transform: uppercase;
    font-size: 1.4em;

    img[alt="logo"] {
      width: 80px;
      margin-top: 10px;
    }

    a,
    a:visited {
      color: $nav-font-color;
      text-decoration: none;
    }
  }

  // Container with no padding for navbar
  .nav-container {
    max-width: $content-width;
    margin: 0 auto;
  }

  // Navigation
  nav {
    float: right;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        position: relative;
        a,
        a:visited {
          display: block;
          padding: 0 20px;
          line-height: $nav-height;
          background: #004e36;
          color: $nav-font-color;
          text-decoration: none;
          &:hover {
            background: $link-hover-color;
            color: $nav-font-color;
          }
          &:not(:only-child):after {
            padding-left: 4px;
            content: " ▾";
          }
        } // Dropdown list
        ul li {
          min-width: 190px;
          a {
            padding: 15px;
            line-height: 20px;
          }
        }
      }
    }
  }

  // Dropdown list binds to JS toggle event
  .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  }

  /* Mobile navigation */

  // Binds to JS Toggle
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #004e36;
    height: $nav-height;
    width: $nav-height;
  }
  @media only screen and (max-width: 798px) {
    // Hamburger nav visible on mobile only
    .nav-mobile {
      display: block;
    }
    nav {
      width: 100%;
      padding: $nav-height 0 15px;
      ul {
        display: none;
        li {
          float: none;
          a {
            padding: 15px;
            line-height: 20px;
          }
          ul li a {
            padding-left: 30px;
          }
        }
      }
    }
    .nav-dropdown {
      position: static;
    }
  }
  @media screen and (min-width: $breakpoint) {
    .nav-list {
      display: block !important;
    }
  }
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    span,
    span:before,
    span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: $nav-font-color;
      position: absolute;
      display: block;
      content: "";
      transition: all 300ms ease-in-out;
    }
    span:before {
      top: -10px;
    }
    span:after {
      bottom: -10px;
    }
    &.active span {
      background-color: transparent;
      &:before,
      &:after {
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.pdp {
  .pd-wrap {
    padding: 40px 0;
    font-family: "Poppins", sans-serif;
  }
  .heading-section {
    text-align: center;
    margin-bottom: 20px;
  }
  .sub-heading {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .heading-section h2 {
    font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: "Poppins", sans-serif;
  }
  .user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    min-width: 80px;
    background-size: 100%;
  }
  .carousel-testimonial .item {
    padding: 30px 10px;
  }
  .quote {
    position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
  }
  .name {
    margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
  }
  .position {
    color: #adadad;
    font-size: 14px;
  }
  .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    height: 25px;
  }
  .owl-nav button svg {
    width: 25px;
    height: 25px;
  }
  .owl-nav button.owl-prev {
    left: 25px;
  }
  .owl-nav button.owl-next {
    right: 25px;
  }
  .owl-nav button span {
    font-size: 45px;
  }
  .product-thumb .item img {
    height: 100px;
  }
  .product-name {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 4px;
  }
  .product-price-discount {
    font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
  }
  .product-price-discount span.line-through {
    text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
  }
  .display-flex {
    display: flex;
  }
  .align-center {
    align-items: center;
  }
  .product-info {
    width: 100%;
  }
  .reviews-counter {
    font-size: 13px;
  }
  .reviews-counter span {
    vertical-align: -2px;
  }
  .rate {
    float: left;
    padding: 0 10px 0 0;
  }
  .rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
  }
  .rate:not(:checked) > label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color: #ccc;
    margin-bottom: 0;
    line-height: 21px;
  }
  .rate:not(:checked) > label:before {
    content: "\2605";
  }
  .rate > input:checked ~ label {
    color: #ffc700;
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
  }
  .product-dtl p {
    font-size: 14px;
    line-height: 24px;
    color: #7a7a7a;
  }
  .product-dtl .form-control {
    font-size: 15px;
  }
  .product-dtl label {
    line-height: 16px;
    font-size: 15px;
  }
  .form-control:focus {
    outline: none;
    box-shadow: none;
  }
  .product-count {
    margin-top: 15px;
  }
  .product-count .qtyminus,
  .product-count .qtyplus {
    width: 34px;
    height: 34px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
  }
  .product-count .qtyminus {
    border-radius: 3px 0 0 3px;
  }
  .product-count .qtyplus {
    border-radius: 0 3px 3px 0;
  }
  .product-count .qty {
    width: 60px;
    text-align: center;
  }
  .round-black-btn {
    border-radius: 4px;
    background: #212529;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529;
    transition: all 0.5s ease-in-out 0s;
  }
  .round-black-btn:hover,
  .round-black-btn:focus {
    background: transparent;
    color: #212529;
    text-decoration: none;
  }

  .product-info-tabs {
    margin-top: 25px;
  }
  .product-info-tabs .nav-tabs {
    border-bottom: 2px solid #d8d8d8;
  }
  .product-info-tabs .nav-tabs .nav-item {
    margin-bottom: 0;
  }
  .product-info-tabs .nav-tabs .nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    color: #323232;
  }
  .product-info-tabs .nav-tabs .nav-item .nav-link:hover {
    border: none;
  }
  .product-info-tabs .nav-tabs .nav-item.show .nav-link,
  .product-info-tabs .nav-tabs .nav-link.active,
  .product-info-tabs .nav-tabs .nav-link.active:hover {
    border: none;
    border-bottom: 2px solid #d8d8d8;
    font-weight: bold;
  }
  .product-info-tabs .tab-content .tab-pane {
    padding: 30px 20px;
    font-size: 15px;
    line-height: 24px;
    color: #7a7a7a;
  }
  .review-form .form-group {
    clear: both;
  }
  .mb-20 {
    margin-bottom: 20px;
  }

  .review-form .rate {
    float: none;
    display: inline-block;
  }
  .review-heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
  }
  .review-form .form-control {
    font-size: 14px;
  }
  .review-form input.form-control {
    height: 40px;
  }
  .review-form textarea.form-control {
    resize: none;
  }
  .review-form .round-black-btn {
    text-transform: uppercase;
    cursor: pointer;
  }
  .image {
    width: 250px;
    float: left;
    margin: 20px;
  }
}

.index-body{
  position: relative;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Century Gothic", 'Lato', sans-serif;
  overflow-x: hidden;
}
.home-banner{
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url(https://www.mcdonalds.com/content/dam/prelaunch/ca/web/nutrition/categories/desktop/en/Full_Menu_1280x573.jpg);
}
.cover-banner{
  position: absolute;
  z-index: 2;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(50,50,50,0.5);

  img{
    width: 270px;
}

.jumbo{
  background-color: transparent;
  text-align: center;
}
 
}


.festival{
  h2{
    color:#004e36;
    font-weight: bold;
    font-size: 40px;
    margin-left: 130px;
  }

  p{
    color:#004e36;
    font-weight: bold;
    font-size: 20px;
    margin-left: 130px;
  }

  .container{
    margin-top: 100px;
  }
  
  .carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
  }
  .carousel-showmanymoveone .carousel-control.left {
    margin-left: 15px;
  }
  .carousel-showmanymoveone .carousel-control.right {
    margin-right: 15px;
  }
  .carousel-showmanymoveone .cloneditem-1,
  .carousel-showmanymoveone .cloneditem-2,
  .carousel-showmanymoveone .cloneditem-3 {
    display: none;
  }
  @media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 50%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
      display: block;
    }
  }
  @media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(50%, 0, 0);
              transform: translate3d(50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-50%, 0, 0);
              transform: translate3d(-50%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
  @media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
      left: -33.3%;
    }
    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
      left: 33.3%;
    }
    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
      display: block;
    }
  }
  @media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(33.3%, 0, 0);
              transform: translate3d(33.3%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-33.3%, 0, 0);
              transform: translate3d(-33.3%, 0, 0);
      left: 0;
    }
    .carousel-showmanymoveone .carousel-inner > .item.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev.right,
    .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      left: 0;
    }
  }
  
  .carousel-control:hover, .carousel-control:focus {
    opacity: 1;
  }
  
  .carousel-control, .carousel-control {
    opacity: 1;
  }
  
  @media all and (min-width: 1600px) {
    .carousel-main-container {
      width: 66.66666667%;
      margin-left: 16.66666667%;
    }
  }
  
  .glyphicon {
    color: #46166b;
    top: 60px;
  }
  
  @media all and (min-width: 768px) {
    .glyphicon {
      top: 62px;
    }
  }
  
  
  @media all and (min-width: 992px) {
    .glyphicon {
      top: 65px;
    }
  }
  
  @media all and (max-width: 767px) {
    .glyphicon-menu-right {
      margin-left: 20px;
    }
  
    .glyphicon-menu-left {
      right: 28px;
    }
  }
  
}

.two-cards{
  margin-top: 100px;
  .card {
    text-align: center;
    background: rgb(231, 203, 203);
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    position: relative;
    width: 300px;
    cursor: pointer;

    img{
      margin-top: 20px;
      width:300px;
    }

    p{
      color: black;
      font-weight: bold;
      font-size: 20px;  
      margin-top: 20px;
    }
  }
  
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .card-2 {
    margin-left: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
}

.footer{
  margin-top: 50px;
  background-color: #9fe6d0 ;
  width: 100%;
}

.stores{
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;


  .newsCard {
    position: relative;
    margin-top: 30px;
    width: 400px;
    height: 250px;
    background-color: #fff;
    color:#fff;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  
  .newsCaption {
    position: absolute;
    top: auto;
    bottom: 0;
    opacity: .6;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: #000;
    padding: 15px;
    -webkit-transform: translateY(80%);
            transform: translateY(80%);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
    transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.4s;
  }
  
  .newsCaption-title {
    margin-top: 0px;
  }
  
  .newsCaption-content {
    margin: 0;
  }
  
  .newsCaption-link {
    color: #fff;
    text-decoration: underline;
    opacity: .8;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
            transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
  }
  .newsCaption-link:hover {
    opacity: 0.65;
  }
  
  .news-Slide-up:hover .newsCaption {
    opacity: .6;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
    transition: opacity 0.1s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;
  }
  
}

h1{
  text-align: center;
  color: #004e36;
  font-weight: bold;
  font-size: 40px ;
}

.filter{
  margin-top: 100px;
  // site specific

.container-fluid {
  max-width: 960px;
}

// utility

[data-toggle="collapse"] {
  cursor: pointer;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.valign-middle {
  vertical-align: middle !important;
}

// responsive table override

// wrap responsive table in media query
@media screen and (max-width: 767px) {

  .table-responsive {

    thead,
    tbody,
    tfoot,
    tr,
    th,
    td {
      display: block;
    }

    thead {
      display: none;
    }

    .align-center,
    .align-right {
      text-align: inherit;
    }
    
    tr {
      border-top: 1px solid #ddd;
      
      &:first-child {
        border: 0;
      }
    }

    // override bootstrap's styling
    > tbody > tr > td {
      padding-left: 50%;
      border-top-color: rgba(221, 221, 221, 0.5);
      
      &:first-child {
        border: 0;
      }
    }

    [data-label] {
      position: relative;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px;
        content: attr(data-label);
        font-weight: bold;
      }
    }

  }
  
  // a little tweaking
  
  .navbar-fixed-top.visible-xs + .row {
    padding-top: 60px; // height plus padding
  }
  
  .btn .visible-xs {
    display: inline-block !important;
  }
  
  .sliding-sidebar {
    position: absolute;
    z-index: 1;
    background: #fff;
    min-height: 100%;
    border-right: 1px solid #ccc;
    
    &.collapse,
    &.collapsing {
      display: block !important;
      transform: translate3D(-100%, 0, 0);
      transition: all 200ms;
    }
    
    &.collapse.in {
      transform: translate3D(0, 0, 0);
      box-shadow: 
        1px 0 0 rgba(0,0,0,0.05),
        2px 0 0 rgba(0,0,0,0.05),
        3px 0 0 rgba(0,0,0,0.05);
    }
  }
}

.parent-expanded {
  
}
.parent-collapsed {
  display: none;
}

.collapsed {
  .parent-expanded {
    display: none;
  }
  
  .parent-collapsed {
    display: inline-block;
  }
}

.flex-card-product{
  margin-top: 40px;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .card {
    text-align: center;
    background-color: #88fad8;
    border-radius: 2px;
    display: inline-block;
    height: 220px;
    position: relative;
    width: 220px;
    cursor: pointer;

    p{
      color: black;
  
      font-size: 10px;  
      margin-top: 20px;
    }
  }
  
  .card-1 {
    margin-top:30px;
    margin-left: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    .float{
      margin-top: 20px;
     
      .button1{
        float:left;
        background-color: rgb(255, 148, 148);
        border: none;
        color: white;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }

      .button2{
        float:right;
        background-color:  rgb(255, 148, 148);
        border: none;
        color: white;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
    }
  }
  
  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}
}
